.DS_Store
.env
.env.*
!.env.example
svelteapp/node_modules
svelteapp/build
svelteapp/.svelte-kit
svelteapp/.vercel
svelteapp/vite.config.js.timestamp-*
svelteapp/vite.config.ts.timestamp-*
svelteapp/coverage
svelteapp/coverage-summary.txt
svelteapp/coverage-summary.md
database
test-downloads